<footer class="conteiner d-flex bg-black row footer-h align-content-end">
    <div class="conteiner col-9 d-flex flex-row">
            <div class="col-3 footer-h">
                <a href="https://www.instagram.com/meta_hapax/?hl=es-la" target="_blank">
                    <i class="fab fa-instagram FooterLink"></i>
                </a>
            </div>



            <div class="col-3 footer-h">
                <a href="https://www.youtube.com/channel/UCkkjK3LjWKyQ-Z1L-bG0_bw" target="_blank">
                    <i class="fab fa-youtube FooterLink"></i>
                </a>
            </div>



            <div class="col-3 footer-h">
                <a href="https://open.spotify.com/artist/2QgI27cgzoGliJ6Ibd1xXw?si=nbokk1K1SjqIF4tbBWYZUQ" target="_blank">
                    <i class="fab fa-spotify FooterLink"></i>
                </a>
            </div>

            <div class="col-3 footer-h">
                <a href="https://wa.me/1136433983" target="_blank">
                    <i class="fab fa-whatsapp FooterLink"></i>
                </a>
    </div>
    </div>
    <div class="conteiner col-3 footer-h d-flex justify-content-end pe-6">
        <p class="text-white">-Metahapax-TM- &#169</p>
    </div>
</footer>