<header id="header" class="conteiner-fluid bg-black align-items-center nav-pos">
    <nav class="row">
        <div class="col-2 d-flex justify-content-between">
            <div class="">
                <a href="/"><img class="rounded-circle ico ms-3 mt-1 mb-1" src="https://i.ibb.co/r0H3Qjw/ico.jpg" alt=""></a>
            </div>

        </div>

        <div class="col-10 borde-navbar">
            <ul class="nav nav-tabs borde-navbar">
                <li class="nav-item ps-4 ml-2 mr-2 flex-fill fs-1 text text-center text-white-50" id="navBarFechas">
                    <a class="nav-link text-white-50" aria-current="page" href="/#fechas">FECHAS</a>
                </li>
                <li class="nav-item ps-4 ml-2 mr-2 flex-fill fs-1 text text-center">
                    <a class="nav-link text-center text-white-50" href="/prensa">prensa</a>
                </li>
                <li class="nav-item dropdown ps-4 ml-2 mr-2 flex-fill fs-1 text">
                    <a class="nav-link dropdown-toggle text-center text-white-50" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">NOSOTROS</a>
                <ul class="dropdown-menu bg-dark">
                    <li><a class="dropdown-item text-white-50 texto-navbar-submenu" href="/contactanos">Contactanos</a></li>
                    <li><a class="dropdown-item text-white-50 texto-navbar-submenu" target="_blank" href="https://www.instagram.com/meta_hapax/?hl=es-la">IG</a></li>
                    <li><a class="dropdown-item text-white-50 texto-navbar-submenu" target="_blank" href="https://www.youtube.com/channel/UCkkjK3LjWKyQ-Z1L-bG0_bw">YouTube</a></li>
                    <li><a class="dropdown-item text-white-50 texto-navbar-submenu" target="_blank" href="https://open.spotify.com/artist/2QgI27cgzoGliJ6Ibd1xXw?si=nbokk1K1SjqIF4tbBWYZUQ&nd=1">Spotify Music</a></li>
                </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>