<h1 class="conteiner-fluid text-center bg-black text-white mt-3 mb-2">
    Contactanos
</h1>

<div class="conteiner-fluid bg-black d-flex row justify-content-start m-2">
    <form action="/contactanos" method="post">
    <div>
        <h3 class="text-danger text-center text-formulario">{{validacion}}</h3>
    </div>
    <div class="mb-3 text-formulario">
        <label for="" class="form-label text-white mt-2 text-formulario">Fecha de contacto</label>
        <input type="date" name="fechaDeContacto" class="form-control text-formulario">
    </div>
    
    <div class="mb-3 text-formulario">
        <label for=""></label>
        <input type="text" name="nombre" class="form-control text-formulario" placeholder="Nombre">
    </div>

    <div class="mb-3 text-formulario">
        <label for=""></label>
        <input type="text" name="apellido" class="form-control text-formulario" placeholder="Apellido">
    </div>

    <div class="mb-3 text-formulario"> 
        <label for="" class="form-label text-white text-formulario">Tipo de contacto</label>
        <select class="form-select text-formulario" name="tipoDeContacto" id="">
            <option class="text-formulario-drop-menu"  value="1">Contratación para evento</option>
            <option class="text-formulario-drop-menu"  value="2">Propuesta de colaboración</option>
            <option class="text-formulario-drop-menu"  value="3">Otros</option>
        </select>
        
    </div>

    <div class="mb-3 text-formulario">
        <label for=""></label>
        <input type="text" name="institucion" class="form-control text-formulario" id="" placeholder="Institución">
    </div>

    <div class="mb-3 text-formulario">
        <label for=""></label>
        <input type="number" name="telefono" class="form-control text-formulario" id="" placeholder="telefono">
    </div>

    <div class="mb-3 text-formulario">
        <label for=""></label>
        <input type="mail" name="mailDeContacto" class="form-control text-formulario"  id="" placeholder="Mail">
    </div>

    <div class="d-grid gap-2 text-formulario">
        
            <button type="submit" class="btn btn-dark mb-2 mt-4 text-formulario">Enviar</button>
        
        
            <button type="reset" class="btn btn-danger mb-2 text-formulario">Borrar</button>

    </div>

    </form>





</div>