<h1 class="conteiner-fluid text-center bg-black text-white mt-3 mb-2">
    Contactanos
</h1>

<div class="conteiner-fluid bg-black d-flex row justify-content-start m-2">
    <form action="/formulario" method="post">
    <div class="mb-3">
        <label for="" class="form-label text-white mt-2">Fecha de contacto</label>
        <input type="date" class="form-control">
    </div>
    
    <div class="mb-3">
        <label for=""></label>
        <input type="text" class="form-control" placeholder="Nombre">
    </div>

    <div class="mb-3">
        <label for=""></label>
        <input type="text" class="form-control" placeholder="Apellido">
    </div>

    <div class="mb-3">
        <label for="" class="form-label text-white">Tipo de contacto</label>
        <select class="form-select" id="">
            <option value="1">Contratacion para evento</option>
            <option value="2">Propuesta de colaboración</option>
            <option value="3">Otros</option>
        </select>
        
    </div>

    <div class="mb-3">
        <label for=""></label>
        <input type="text" class="form-control" name="" id="" placeholder="Institución">
    </div>

    <div class="mb-3">
        <label for=""></label>
        <input type="number" class="form-control" name="" id="" placeholder="telefono">
    </div>

    <div class="mb-3">
        <label for=""></label>
        <input type="mail" class="form-control" name="" id="" placeholder="Mail">
    </div>

    </form>

    <div class="d-grid gap-2">
        
            <button type="button" class="btn btn-dark mb-2 mt-4">Enviar</button>
        
        
            <button type="button" class="btn btn-danger mb-2">Borrar</button>

    </div>



</div>