    <br>
    <main class="conteiner-fluid">
    
    <h1 class="conteiner-fluid bg-black d-flex text-white text-center justify-content-center"> ultimos lanzamientos</h1>
    <h2 class="conteiner-fluid bg-black d-flex text-white text-center justify-content-center"> Live Session</h2>

    <div class="conteiner-fluid d-flex me-auto bg-black justify-content-center">
        <iframe class="p-2" width="80%" height="380" src="https://www.youtube.com/embed/54ah_1FJMLc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </div>

        <article class="border border-4 border-dark m-4 bg-black">
            <p class="m-1 text-white">
Grabado en licha´s house a.k.a. “la obra” <br><br>

Producido por: @HuanaHouse <br>
Dirección Creativa y Dirección de Fotografía: Mora Inés Schofrin @moraschofrin <br>
Producción y AD: Valentina González Bernal @valgonzalezb <br>
Sonido: Bocha Rosenfeld @bocharosenfeld / Paula Verdini @puagverdi <br>
Dirección de arte: Marina Mariani @marinamarianii / Victoria Pellegri @vickipellegri <br>
Montaje: Paloma Balestrini @palobalestrini <br>
Cámaras: Mora Schofrin / Alejandro Ferlini @majandrofcs / Erik Ionatan Schatz @ionischatz <br>
Eléctrica: Maite Malnero Piccolo @_maitemp <br>
Asistentes de Arte: Catalina Serka @cataserka / Candela Nazar @kndnazar <br>
Diseño gráfico: Popi Manrupe @popimanrupe <br>
Color: Erik Ionatan Schatz <br>
Postproducción de Sonido y Mezcla: El Bocha del pueblo en @huanahouse <br>
Equipos: Enchulame la Cámara @enchulame.la.camara <br>

<br><br><br>
Formación <br>
Diego (Voz) <br>
@flavor_gone (Teclado y voz) <br>
Fede Corna (Guitarra) <br>
Daro Boris (Bajo) <br>
Tomás Blanda (Batería) <br>
Emilio “El Jipi“ Boudgouste (Flauta traversa) <br>
Rodrigo Gallo (Trompeta) <br>
Santiago Campelo (Saxo Alto) <br>
Juampa Durán (Saxo Tenor) <br>

<br><br><br>
Agradecimientos: Amparo Zucchino, Licha, Santi López, El Pulpo González y todos los presentes el día de la filmación. <br></p>

        </article>
<br>

        <h2 class="conteiner-fluid bg-black d-flex text-white text-center justify-content-center"> hapax</h2>

    <div class="conteiner-fluid d-flex me-auto bg-black justify-content-center">
        <iframe class="p-2" width="80%" height="380" src="https://www.youtube.com/embed/GYIy6F0_PKA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </div>

        <article class="border border-4 border-dark m-4 bg-black">
            <p class="m-1 text-white">
                Metahápax somos:

                Diego Cornago: Voz <br>
                Federico Cornago: Guitarra eléctrica <br>
                Dario Boryzanski: Bajo eléctrico <br>
                Tomás Blanda: Bateria <br>
                @Flavor_gone: Teclado y voz <br>
                Cristian Velz: Trompeta <br>
                Santiago Campelo: Saxo Alto <br>
                Emilio Boudgouste: Flauta traversa <br>
                <br>
                Grabado y mezclado por Ezequiel Rosenfeld <br>
                
                <br>
                Voz invitada en Arruyo: Sol Möav <br>
                --------------------------------------------------------------- <br>
                
                00:00:00 : NAIKS <br>
                00:05:15 : ARRUYO <br>
                00:09:38 : FREE <br>
                00:10:53 : HAMBRE <br>
                00:14:45 : CAGÓN <br>
                00:15:32 : FAKIN NOIS <br>    
            </p>
        </article>
        <br>
        <h2 id="fechas" class="conteiner-fluid bg-black d-flex text-white text-center justify-content-center">Proximas fechas</h2>
        <br>
        <div class="conteiner d-flex justify-content-center m-5 bg-black p-1">
            <img class="" src="../multimedia/estructurales/flyer.jpg" alt="Proxima Fecha">
            <a class="text-white" href="https://cafecito.app/metahapax">compra de entradas</a>
        </div>
        <br><br>
    </main>