<div class="container-fluid bg-black mt-4 mb-4">
    <h1><p class="text-white text-center">prensa</p></h1>
</div>

<main class="container-fluid bg-black d-flex align-items-center flex-wrap flex-lg-nowrap mb-5">
        <div class="container-lg bg-secondary m-3 p-2 h-100">
            <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://i.ibb.co/tb2wBRg/40.jpg" class="d-block w-100" alt="2019">
                    </div>
                    <div class="carousel-item">
                        <img src="https://i.ibb.co/rFQngHk/27.jpg" class="d-block w-100" alt="2018">
                    </div>
                    <div class="carousel-item">
                        <img src="https://i.ibb.co/qJ1q4VL/15.jpg" class="d-block w-100" alt="2022">
                    </div>
                    <div class="carousel-item">
                        <img src="https://i.ibb.co/RSwt5T5/68.jpg" class="d-block w-100" alt="2018-2">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
            <div class="container-lg bg-black m-3 p-2 text-white border border-4 border-secondary h-100">
                <article>
                    <h3 class="text-center p-text-prensa">gacetilla</h3>
                    <p class="text-white p-3 p-text-prensa">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus, laborum. Deserunt natus rem neque veritatis, quae aspernatur soluta at officiis quia qui excepturi veniam fuga saepe, inventore perspiciatis quibusdam obcaecati. Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem quasi harum, pariatur deleniti laborum dolore, delectus totam dignissimos provident nisi quas impedit veniam doloribus inventore repellat unde magni, suscipit eveniet!Lorem Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus, rerum est facilis sint molestiae consectetur. Facere delectus nobis, ipsam itaque ullam explicabo dolorem nesciunt ab dignissimos magnam! Ad, et facilis! Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur molestiae nobis doloribus reprehenderit tempora et obcaecati impedit, voluptate mollitia veritatis, maiores incidunt dignissimos perspiciatis temporibus vitae sint asperiores quam voluptates! <br> <br> GRACIAS!!!
                    </p>
                </article>
            </div>

</main>